src/main/resources/reconciliaciones.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:schema="http://www.banorte.com/ws/esb/Reconciliaciones"
                  xmlns:tns="http://www.banorte.com/ws/esb/Reconciliaciones"
                  xmlns:head="http://www.banorte.com/ws/esb/general/Headers"
                  targetNamespace="http://www.banorte.com/ws/esb/Reconciliaciones">
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
        	<xsd:import namespace="http://www.banorte.com/ws/esb/general/Headers"  schemaLocation="xsd/requestHeadersV1xsd3.xsd"/>
        	<xsd:import namespace="http://www.banorte.com/ws/esb/general/Headers"  schemaLocation="xsd/responseHeadersV1xsd4.xsd"/>
            <xsd:import namespace="http://www.banorte.com/ws/esb/Reconciliaciones" schemaLocation="xsd/ObtenerFiltradoFull.xsd"/>
            <xsd:import namespace="http://www.banorte.com/ws/esb/Reconciliaciones" schemaLocation="xsd/ObtenerObjetoFiltrado.xsd"/>
        </xsd:schema>
    </wsdl:types>
    
    
    <wsdl:message name="ObtenerInventarioFullRequestMsg">
    	<wsdl:part element="head:HeaderReq" name="requestHeader"/>
        <wsdl:part element="schema:ObtenerInventarioFullIn" name="parameters"/>       
    </wsdl:message>
	
    <wsdl:message name="ObtenerInventarioFullResponseMsg">
    	<wsdl:part element="head:HeaderRes" name="responseHeader" />
        <wsdl:part element="schema:ObtenerInventarioFullOut" name="result"/>       
    </wsdl:message>	    
	
	
    <wsdl:message name="ObtenerObjetoFiltradaRequestMsg">
    	<wsdl:part element="head:HeaderReq" name="requestHeader"/>
        <wsdl:part element="schema:ObtenerObjetoFiltradaIn" name="parameters"/>
    </wsdl:message>
	
    <wsdl:message name="ObtenerObjetoFiltradaResponseMsg">
    	<wsdl:part element="head:HeaderRes" name="responseHeader" />
        <wsdl:part element="schema:ObtenerObjetoFiltradaOut" name="result"/>       
    </wsdl:message>	
	
	
	
    <wsdl:portType name="ReconciliacionesPort">                                         

        <wsdl:operation name="ObtenerInventarioFull">
            <wsdl:input message="tns:ObtenerInventarioFullRequestMsg" name="ObtenerInventarioFullRequest"/>
            <wsdl:output message="tns:ObtenerInventarioFullResponseMsg" name="ObtenerInventarioFullResponse" />     
        </wsdl:operation>   
        
        <wsdl:operation name="ObtenerObjetoFiltrada">
            <wsdl:input message="tns:ObtenerObjetoFiltradaRequestMsg" name="ObtenerObjetoFiltradaRequest"/>
            <wsdl:output message="tns:ObtenerObjetoFiltradaResponseMsg" name="ObtenerObjetoFiltradaResponse" />     
        </wsdl:operation>
        
    </wsdl:portType>
	
	
	
    <wsdl:binding name="Reconciliaciones" type="tns:ReconciliacionesPort">          
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>  
        
        <wsdl:operation name="ObtenerInventarioFull">
			 <soap:operation soapAction="" />
			 <wsdl:input name="ObtenerInventarioFullRequest">
			 	<soap:header message="tns:ObtenerInventarioFullRequestMsg" part="requestHeader" use="literal"/>
				<soap:body parts="parameters" use="literal"/>
			 </wsdl:input>
			 <wsdl:output name="ObtenerInventarioFullResponse">
			 	<soap:header message="tns:ObtenerInventarioFullResponseMsg" part="responseHeader" use="literal" />
				<soap:body parts="result" use="literal"/>
			 </wsdl:output>			 
        </wsdl:operation>          
                         
        <wsdl:operation name="ObtenerObjetoFiltrada">
			 <soap:operation soapAction="http://www.banorte.com/ws/esb/Reconciliaciones/ObtenerObjetoFiltradaIn" />
			 <wsdl:input name="ObtenerObjetoFiltradaRequest">
			 	<soap:header message="tns:ObtenerObjetoFiltradaRequestMsg" part="requestHeader" use="literal"/>
				<soap:body parts="parameters" use="literal"/>
			 </wsdl:input>
			 <wsdl:output name="ObtenerObjetoFiltradaResponse">
			 	<soap:header message="tns:ObtenerObjetoFiltradaResponseMsg" part="responseHeader" use="literal" />
				<soap:body parts="result" use="literal"/>
			 </wsdl:output>			 
        </wsdl:operation>
        
      
        
    </wsdl:binding>
    <wsdl:service name="ReconciliacionesPortService">
        <wsdl:port binding="tns:Reconciliaciones" name="ReconciliacionesHttpPort">  
            <soap:address location="http://127.0.0.1:8080/sifews/sifews"/>     
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
